services:
  vxinst:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - GIN_LOGS=false
      - SECURE=false
      - LOG_LEVEL=info
      - CERT_FILE=
      - KEY_FILE=
      - SENTRY_DSN=
      - CACHE_LIFETIME=60
      - REDIS_ENABLE=false
      - REDIS_ADDR=
      - REDIS_PASSWD=
      - REDIS_DB=-1
      - PROXIES=
      - PROXY_SCRAPE_HTML=false
      - INSTA_COOKIE=
      - INSTA_XIGAPPID=
      - INSTA_BROWSER_AGENT=Mozilla/5.0 (X11; Linux x86_64; rv:135.0) Gecko/20100101 Firefox/135.0
    restart: unless-stopped
