<!DOCTYPE html>
<html lang="en">

<head>
        <meta property="og:title" content="{{.Title}}" />
        <meta property="og:description" content="{{.Description}}" />

        <meta property="og:video" content="{{.VideoURL}}" />
        <meta property="og:video:secure_url" content="{{.VideoURL}}" />
        <meta property="og:video:type" content="video/mp4" />
        <meta property="og:video:width" content="1280" />
        <meta property="og:video:height" content="720" />

        <meta property="twitter:player:width" content="1280" />
        <meta property="twitter:player:height" content="720" />
        <meta property="twitter:player:stream" content="{{.VideoURL}}" />
        <meta property="twitter:player:stream:content_type" content="video/mp4" />

        <meta property="theme-color" content="{{.Color}}" />
        <title>Vxinstgram</title>
</head>

<body>
</body>

</html>